# Xcode
build/
DerivedData/
*.xcodeproj
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Secrets
*.env
secrets.json
